.Background {
    min-height: 100vh;
    text-align: center;
    background-image: url('./RedLightGreenLight.png');
    /* background-size: contain; */
}

.red {
    fill: red;
}

.green {
    fill: green;
}

#question-div {
    visibility: hidden;
    position: fixed;
    left: 50%;
    top: 60%;
}

#postgame-div {
    visibility: hidden;
    position: fixed;
    left: 50%;
    top: 60%;
}

#question-text {
    font-weight: bold;
    color: #de8c93;
}

#win-text {
    visibility: hidden;
    font-weight: bold;
    color: green;
}

#lose-text {
    visibility: hidden;
    font-weight: bold;
    color: red;
}

#start-game-button {
    visibility: visible;
}

#light {
    background-color: #B81D13;
    border-color: black;
    border-radius: 1rem;
    color: white;
    padding: 40px 40px;
    margin: 2rem;
}