.Background {
    min-height: 100vh;
    text-align: center;
    background-image: url('./RedLightGreenLight.png');
    /* background-size: contain; */
}

#question-div {
    visibility: hidden;
    position: fixed;
    left: 50%;
    top: 60%;
}

#start-game-button {
    visibility: visible;
}

#light {
    background-color: #B81D13;
    border-color: black;
    border-radius: 1rem;
    color: white;
    padding: 40px 40px;
    margin: 2rem;
}