#units-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unit-button {
    background-color: #de8c93;
    border: 1px solid black;
    border-radius: 1rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: larger;
    margin: 15px;
    padding: 40px 40px;
    width: 30rem;
}